<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="<% settings.charset %>">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="keywords" content="купить, смартфоны, планшеты, ноутбуки, телевизоры, фотоаппараты, широкий выбор, низкие цены, Сеть супермаркетов цифровой и бытовой техники Shop!">
		<meta name="description" content="Сеть супермаркетов цифровой и бытовой техники Shop!: Смартфоны, Планшеты, Ноутбуки, Телевизоры, Фотоаппараты, широкий выбор, низкие цены">
		<meta name="author" content="">
		<!--<link rel="icon" href="favicon.ico">-->
		
		<title>Shop<% title ? " - " _ title : "!" %></title>
		
		<link href="/css/bootstrap.min.css" rel="stylesheet"><%
		FOREACH style in styles %>
		<link href="/css/<% style %>" rel="stylesheet"><%
		END %>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Shop!</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav"><%
				FOREACH link in vars.menu %>
					<li<% IF request.path_info == link.href || request.path_info.match("^" _ link.href _ "/") %> class="active"<% END %>>
						<a<% IF link.dropdown %> class="dropdown-toggle" data-toggle="dropdown"<% END %> href="<% link.href %>"><% link.name;
							IF link.href == "/cart" %> <span id="badge-cart" class="badge"><% session.cart.keys.max + 1 IF session.cart.keys.max != -1 %></span><% END;
							IF link.dropdown %> <b class="caret"></b><% END %>
						</a>
						<% IF link.dropdown %>
						<ul class="dropdown-menu"><%
						FOREACH i in link.dropdown;
							SET l = link.href _ "/" _ i.href %>
							<li<% IF request.path_info == l || request.path_info.match("^" _ l _ "/") %> class="active"<% END %>><a href="<% l %>"><% i.name %></a></li><%
						END %>
						</ul>
						<% END %>
					</li><%
				END %>
				</ul>
				<ul class="nav navbar-right"><%
				IF session.user_id %>
					<a href="/logout" class="btn btn-default navbar-btn">Выход</a><%
				ELSE %>
					<a href="/login" class="btn btn-default navbar-btn hidden-lg hidden-xs">Вход</a>
					<a href="/register" class="btn btn-success navbar-btn">Регистрация</a><%
				END %>
				</ul><%
				IF session.user_id %>
				<ul class="nav navbar-nav navbar-right">
					<li<% IF request.request_uri.match("^/cabinet") %> class="active"<% END %>>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<% session.user_name %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" id="user_menu">
							<li<% IF request.path_info == "/cabinet/orders" %> class="active"<% END %>><a href="/cabinet/orders"><span class="glyphicon glyphicon-list pull-right"></span>Состояние заказов</a></li>
							<li<% IF request.path_info == "/cabinet" %> class="active"<% END %>><a href="/cabinet"><span class="glyphicon glyphicon-cog pull-right"></span> Редактирование профиля</a></li>
							<% IF session.user_role == "admin" || session.user_role == "manager" %>
								<li class="divider"></li>
								<li<% IF request.path_info == "/cabinet/manager" %> class="active"<% END %>><a href="/cabinet/manager"><span class="glyphicon glyphicon-stats pull-right"></span>Управление магазинами</a></li>
							<% END %>
							<% IF session.user_role == "admin" %>
								<li<% IF request.path_info == "/cabinet/admin" %> class="active"<% END %>><a href="/cabinet/admin"><span class="glyphicon glyphicon-wrench pull-right"></span>Управление сайтом</a></li>
							<% END %>
						</ul>
					</li>
					<li class="divider-vertical"></li>
				</ul><%
				END %><%
				UNLESS session.user_id %>
				<form action="/login" method="post" class="navbar-form navbar-right visible-lg visible-xs">
					<div class="form-group">
						<input name="email" type="email" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input name="password" type="password" placeholder="Пароль" class="form-control">
					</div>
					<button type="submit" class="btn btn-default">Вход</button>
				</form>
				<% END %>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

<main class="container">
<% IF ! hide_header && title %><div class="page-header"><h3><% title %></h3></div><% END;
FOREACH message in vars.messages %>
<div class="alert alert-<% message.type %> alert-dismissable">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<% message.text %>
</div>
<% END %>
<% content %>
</main>

		<footer class="container">
			<hr>
			<p>&copy; 2015 Shop!</p>
		</footer>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script><%
		FOREACH script in scripts %>
		<script type="text/javascript" src="/js/<% script %>"></script><%
		END %>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>