<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="<% settings.charset %>">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="keywords" content="купить, смартфоны, планшеты, ноутбуки, телевизоры, фотоаппараты, широкий выбор, низкие цены, Сеть супермаркетов цифровой и бытовой техники Shop!">
		<meta name="description" content="Сеть супермаркетов цифровой и бытовой техники Shop!: Смартфоны, Планшеты, Ноутбуки, Телевизоры, Фотоаппараты, широкий выбор, низкие цены">
		<meta name="author" content="">
		<!--<link rel="icon" href="favicon.ico">-->
		
		<title>Shop<% IF !title %>!<% ELSE %> - <% title; END %></title>
		
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<!-- <% request.uri_base %> -->
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Shop!</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<% FOREACH link in vars.menu %>
						<li<% IF link.href == request.path_info %> class="active"<% END %>><a href="<% link.href %>"><% link.name %>
							<% IF link.href == "/cart/" %> <span class="badge badge-cart"><% IF session.cart && (session.cart.keys.max != -1); session.cart.keys.max + 1; END %></span><% END %>
						</a></li>
					<% END %>
				</ul>
				<% IF session.user_id %>
				<ul class="nav navbar-nav navbar-right">
					<li<% IF request.path_info == "/cabinet/" %> class="active"<% END %>><a href="/cabinet/"><% IF session.user_name; session.user_name; ELSE; "Личный кабинет"; END %></a></li>
					<li class="divider-vertical"></li>
					<a href="/logout" class="btn btn-default navbar-btn">Выход</a>
				</ul>
				<% ELSE %>
				<ul class="nav navbar-right">
					<a href="/login" class="btn btn-default navbar-btn hidden-lg hidden-xs">Вход</a>
					<a href="/register" class="btn btn-success navbar-btn">Регистрация</a>
				</ul>
				<form action="/login" method="post" class="navbar-form navbar-right visible-lg visible-xs">
					<div class="form-group">
						<input name="email" type="email" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input name="password" type="password" placeholder="Пароль" class="form-control">
					</div>
					<button type="submit" class="btn btn-default">Вход</button>
				</form>
				<% END %>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	
	<!--<a href="/cabinet/">Личный кабинет</a>
	<a href="/manager/">Управление</a>-->
	
<div class="container" style="color: #ddd; border: 1px solid green; display: none">
	<span class="visible-xs">Extra small (&lt;768px)		</span>
	<span class="visible-sm">Small devices (>=768px)	</span>
	<span class="visible-md">Medium devices (>=992px)	</span>
	<span class="visible-lg">Large devices (>=1200px)	</span>
</div>
<main class="container">
<% IF header %><div class="page-header"><h3><% header %></h3></div><% END;
IF session.messages;
FOREACH message in session.messages %>
<div class="alert alert-<% message.type %> alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<% message.text %>
</div>
<% END;
END %>
<% content %>
</main>

		<footer class="container">
			<p>&copy; 2015 Shop!</p>
		</footer>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>