<%
IF stores;
title = 'Магазины';
%>
<ul>
	<% FOREACH store in stores %>
	<li><a href="<% request.path_info %>/<% store.href %>"><% store.name %></a></li>
	<% END %>
</ul>
<%
ELSE;
title = store.name;
store.name;
END;
%>
