/* main.tt dropdown user menu */

#user_menu a {
	position: relative;
	padding-right: 40px;
}

#user_menu a span {
	position: absolute;
	right: 18px;
	top: 6px;
}

table td {
	vertical-align: top;
}

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	/*border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;*/
}

.navbar-inverse .divider-vertical {
	/*border-right-color: #222222;
	border-left-color: #111111;*/
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.pagination .glyphicon {
	top: 0;
}