table {
	border-collapse: collapse;
}

table td {
	border: 1px solid #000;
	padding: 1px;
}

table tr:hover td {
	background-color: #eee;
}

table .category {
	background-color: #ccc !important;
}

a, a:visited, a:active { color: rgba(0, 102, 203, 1); }