.catalog .category {
	background-color: #f5f5f5;
}
.catalog .item:hover {
	background-color: #f5f5f5;
}
.catalog .item td:nth-child(1) {
	padding: 0;
}
.catalog .item td:nth-child(1) a {
	color: #333333;
	padding: 5px; /* 8px для не table-condensed */
	display: block;
}
.catalog .item td:nth-child(1) a:hover {
	text-decoration: underline;
	color: #333333;
}
.catalog .buttons { width: 1%; }

table td {
	vertical-align: top;
}

.category_menu {
	width: 220px;
	position: relative;
	margin-right: 15px;
}
.category_menu .list-group-item {
	position: static;
	padding: 0;
}
.category_menu .list-group-item:first-child:hover { background: #E7E7E7; }
.category_menu .list-group-item:first-child {
	padding: 10px 15px;
	text-transform: uppercase;
	background: #E7E7E7;
	color: #555555;
}
.category_menu .list-group-item > a {
	padding: 10px 15px;
	display: block;
	color: #333333;
}
.category_menu .list-group-item:hover {
	background: #f5f5f5;
}
.category_menu .list-group-item > a:hover {
	color: #333333;
}
.category_menu .list-group-item:hover .plate_wrap {
	display: block;
}
.category_menu .plate_wrap {
	display: none;
	position: absolute;
	top: 45px;
	bottom: 5px;
	left: 220px;
	min-width: 450px;
	background: #fff;
	border: 1px solid #ddd;
	border-left: none;
	border-radius: 0 4px 4px 0;
	overflow: hidden;
	z-index: 1;
}
.category_menu .plate {
	overflow: auto;
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
	right: 5px;
}

.category_menu .plate ul {
	margin-left: 20px;
	padding-left: 0;
}
.category_menu .plate > ul { margin-left: 0; }

.category_menu .plate > ul > li > a { font-weight: bold; }
.category_menu .plate li { list-style-type: none; }
.category_menu .plate li a, .category_menu .plate li a:hover { color: #333333; text-decoration: none; }
.category_menu .plate li a:hover span:nth-child(1) { text-decoration: underline; }

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	/*border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;*/
}

.navbar-inverse .divider-vertical {
	/*border-right-color: #222222;
	border-left-color: #111111;*/
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}